@model SysComedorCADE.Models.Persona

@{
    ViewBag.Title = "Delete";
}

<h3>La Persona se eliminará</h3>
<div>
        <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombresCompletos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombresCompletos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CiRuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CiRuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dir)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Entidad.NombreEntidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entidad.NombreEntidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genero.Abrev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genero.Abrev)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPersona.Detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPersona.Detalle)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <button type="submit" class="btn btn-danger btn-xs"><span class="fa fa-trash"> Eliminar</span></button>
            <a href="@Url.Action("Index","Persona",null)"><input value="Regresar" type="button" class="btn btn-warning btn-xs" /></a>  
        </div>
    }
</div>
