@model SysComedorCADE.Models.Persona

@{
    ViewBag.Title = "Details";
}

<div>
    <h4><span class="fa fa-user"> Detalles Personas</span></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombresCompletos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombresCompletos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CiRuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CiRuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dir)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Entidad.NombreEntidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entidad.NombreEntidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genero.Abrev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genero.Abrev)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPersona.Detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPersona.Detalle)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit","Persona",new { id = Model.CodPersona })"><button type="button" class="btn btn-success btn-xs"><span class="fa fa-edit"> Editar</span></button></a>
    <a href="@Url.Action("Index","Persona",null)"><input value="Regresar" type="button" class="btn btn-warning btn-xs" /></a> 
</p>
