@model SysComedorCADE.Models.Entidad

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Detalles de la Entidad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreEntidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreEntidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ruc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ruc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dir)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit","Entidad",new { id = Model.CodEntidad })"><button type="button" class="btn btn-success btn-xs"><span class="fa fa-edit"> Editar</span></button></a>
    <a href="@Url.Action("Index","Entidad",null)"><input value="Regresar" type="button" class="btn btn-warning btn-xs" /></a>                 
</p>
