<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Proyecto final de graduación, SystemComedorCADE de control finanzas">
    <meta name="author" content="Jefferson Mena">

    <title>Admin - SysComedorCADE</title>
    
    <link href="~/Content/Plantilla/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    
    
    <link href="~/Content/Plantilla/css/sb-admin.css" rel="stylesheet" />
    <link href="~/Content/Plantilla/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" />
    
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/angular.js"></script>   

    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.js"></script> 
    <script src="~/Scripts/app/personaventa.js"></script>














</head>
<body id="page-top">
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
        <a class="navbar-brand mr-1" href="index.html">SysComedorCADE</a>
        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="">
            <i class="fa fa-bars"></i>
        </button>
    </nav>

    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user"></i>
                    <span> @Session["usuario"]</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown" x-placement="top-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; ">
                    <a class="dropdown-item" data-toggle="modal" href="#logoutModal">Cerrar Sesión</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index","Home")">
                    <i class="fa fa-home "></i>
                    <span>Inicio</span> 
                </a>
            </li>



            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cogs "></i>
                    <span>Confg. Inicial</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown" x-placement="top-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; ">
                    <a class="dropdown-item" href="@Url.Action( "Index", "CostosAlimentacion", null)">Servicios</a>
                    <a class="dropdown-item" href=""></a>
                    <a class="dropdown-item" href=""></a>
                    <a class="dropdown-item" href=""></a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-plus"></i>
                    <span>Registros</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown" x-placement="top-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; ">
                    <a class="dropdown-item" href="@Url.Action("Index", "Entidad", null)">Instituciones</a>
                    <a class="dropdown-item" href="@Url.Action( "Index", "TipoPersona", null)">Tipo de Personas</a>
                    <a class="dropdown-item" href="@Url.Action( "Index", "Genero", null)">Genero</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "Persona", null)">Persona</a>
                    <a class="dropdown-item" href="@Url.Action( "Index", "Usuario", null)">Usarios</a>
                    <a class="dropdown-item" href="@Url.Action( "Index", "TipoPago", null)">Tipo de Pagos</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index","Venta")">
                    <i class="fa fa-buysellads "></i>
                    <span>Ventas</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-plus"></i>
                    <span>Reportes</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown" x-placement="top-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; ">
                    <a class="dropdown-item" href="@Url.Action("Index", "Entidad", null)">Cuenta por Cobrar</a>
                    <a class="dropdown-item" href="@Url.Action( "Index", "TipoPersona", null)">Saldos</a>
                    <a class="dropdown-item" href="@Url.Action( "Index", "Genero", null)">Ingresos</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "Persona", null)">Persona</a>
                    <a class="dropdown-item" href="@Url.Action( "Index", "Usuario", null)">Usarios</a>
                    <a class="dropdown-item" href="@Url.Action( "Index", "TipoPago", null)">Tipo de Pagos</a>
                </div>
            </li>
        </ul>

        <div id="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Inicio</a>
                    </li>
                    <li class="breadcrumb-item active">Index</li>
                </ol>
                @RenderBody()
            </div>
            <!-- /.container-fluid -->


            





            <!-- Sticky Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span><a href="http://saecorp.tk/">saecorp</a> © SysComedorCADE 2018</span><br /> <br />
                        <span>Tnlgo. Jefferson A. Mena C</span>
                    </div>
                </div>
            </footer>

        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Se cerrará Session.!</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">¿ Esta Seguro que desea Cerrar Sesion. ?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal"> NO </button>
                    @Html.ActionLink(" SI ", "CerrarSesiones", "Usuarios", null, new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
    </div>

    @RenderSection("scripts", required: false)

    <!-- Bootstrap core JavaScript-->
    
    <script src="~/Content/Plantilla/vendor/bootstrap/js/bootstrap.bundle.js"></script>    
    <!-- Custom scripts for all pages-->
    <script src="~/Content/Plantilla/js/sb-admin.js"></script>
    
</body>

</html>
