@model IEnumerable<SysComedorCADE.Models.TipoPago>

@{
    ViewBag.Title = "Index";
}

<a href="@Url.Action("Create","TipoPago",null)"><button type="button" class="btn btn-primary"><span class="fa fa-plus"></span> Nuevo</button></a><br />

<center>
    <h4>Lista de Tipo de Pagos</h4>
</center>
<table class="table">
    <tr>
        <th>
            Tipo de Pago
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DetTipoPago)
        </td>
        <td>
            <a href="@Url.Action("Edit","TipoPago",new { id = item.CodTipoPago })"><button type="button" class="btn btn-success btn-xs"><span class="fa fa-edit"></span></button></a>
            <a href="@Url.Action("Delete","TipoPago",new { id = item.CodTipoPago })"><button type="button" class="btn btn-danger btn-xs"><span class="fa fa-trash"></span></button></a>
            <a href="@Url.Action("Details","TipoPago",new { id = item.CodTipoPago })"><button type="button" class="btn btn-warning btn-xs"><span class="fa fa-list"></span></button></a>
        </td>
    </tr>
}

</table>
